dn: ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: organizationalUnit

dn: cn=RES-FS-CFO-R,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-CFO-R
description: CFO FileShare Read Access

dn: cn=RES-FS-MIS-R,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-MIS-R
description: MIS FileShare Read Access

dn: cn=RES-FS-WMT-RW,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-WMT-RW
description: WMT FileShare Write Access

dn: cn=RES-FS-CL-DEBS-R,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-CL-DEBS-R
description: CL-DEBS FileShare Read Access

dn: cn=RES-FS-EPP-NPS-R,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-EPP-NPS-R
description: EPP-NPS FileShare Read Access

dn: cn=RES-FS-NS-DEBS-R,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-NS-DEBS-R
description: NS-DEBS FileShare Read Access

dn: cn=RES-FS-CL-DEBS-RW,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-CL-DEBS-RW
description: CL-DEBS FileShare Write Access

dn: cn=RES-FS-DDC-DEBS-R,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-DDC-DEBS-R
description: DDC-DEBS FileShare Read Access

dn: cn=RES-FS-DTV-DEBS-R,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-DTV-DEBS-R
description: DTV-DEBS FileShare Read Access

dn: cn=RES-FS-EPP-NPS-RW,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-EPP-NPS-RW
description: EPP-NPS FileShare Write Access

dn: cn=RES-FS-NS-DEBS-RW,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-NS-DEBS-RW
description: NS-DEBS FileShare Write Access

dn: cn=RES-FS-PPAS-NPS-R,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-PPAS-NPS-R
description: PPAS-NPS FileShare Read Access

dn: cn=RES-FS-SWM-DEBS-R,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-SWM-DEBS-R
description: SWM-DEBS FileShare Read Access

dn: cn=RES-FS-CGM-DEBS-RW,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-CGM-DEBS-RW
description: CGM-DEBS FileShare Write Access

dn: cn=RES-FS-DDC-DEBS-RW,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-DDC-DEBS-RW
description: DDC-DEBS FileShare Write Access

dn: cn=RES-FS-DLNR-DEBS-R,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-DLNR-DEBS-R
description: DLNR-DEBS FileShare Read Access

dn: cn=RES-FS-DTV-DEBS-RW,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-DTV-DEBS-RW
description: DTV-DEBS FileShare Write Access

dn: cn=RES-FS-HLNY-DEBS-R,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-HLNY-DEBS-R
description: HLNY-DEBS FileShare Read Access

dn: cn=RES-FS-KSS-DEBS-RW,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-KSS-DEBS-RW
description: KSS-DEBS FileShare Write Access

dn: cn=RES-FS-MISC-DEBS-R,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-MISC-DEBS-R
description: MISC-DEBS FileShare Read Access

dn: cn=RES-FS-PPAS-NPS-RW,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-PPAS-NPS-RW
description: PPAS-NPS FileShare Write Access

dn: cn=RES-FS-SWM-DEBS-RW,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-SWM-DEBS-RW
description: SWM-DEBS FileShare Write Access

dn: cn=RES-FS-Wales-NPS-R,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-Wales-NPS-R
description: Wales-NPS FileShare Read Access

dn: cn=RES-FS-WWM-DEBS-RW,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-WWM-DEBS-RW
description: WWM-DEBS FileShare Write Access

dn: cn=RES-FS-BENCH-DEBS-R,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-BENCH-DEBS-R
description: BENCH-DEBS FileShare Read Access

dn: cn=RES-FS-BGSW-DEBS-RW,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-BGSW-DEBS-RW
description: BGSW-DEBS FileShare Write Access

dn: cn=RES-FS-DLNR-DEBS-RW,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-DLNR-DEBS-RW
description: DLNR-DEBS FileShare Write Access

dn: cn=RES-FS-Essex-DEBS-R,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-Essex-DEBS-R
description: Essex-DEBS FileShare Read Access

dn: cn=RES-FS-HLNY-DEBS-RW,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-HLNY-DEBS-RW
description: HLNY-DEBS FileShare Write Access

dn: cn=RES-FS-London-NPS-R,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-London-NPS-R
description: London-NPS FileShare Read Access

dn: cn=RES-FS-MISC-DEBS-RW,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-MISC-DEBS-RW
description: MISC-DEBS FileShare Write Access

dn: cn=RES-FS-Wales-NPS-RW,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-Wales-NPS-RW
description: Wales-NPS FileShare Write Access

dn: cn=RES-FS-BENCH-DEBS-RW,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-BENCH-DEBS-RW
description: BENCH-DEBS FileShare Write Access

dn: cn=RES-FS-Essex-DEBS-RW,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-Essex-DEBS-RW
description: Essex-DEBS FileShare Write Access

dn: cn=RES-FS-LONDON-DEBS-R,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-LONDON-DEBS-R
description: LONDON-DEBS FileShare Read Access

dn: cn=RES-FS-London-NPS-RW,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-London-NPS-RW
description: London-NPS FileShare Write Access

dn: cn=RES-FS-Thames-DEBS-R,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-Thames-DEBS-R
description: Thames-DEBS FileShare Read Access

dn: cn=RES-FS-Wales-DEBS-RW,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-Wales-DEBS-RW
description: Wales-DEBS FileShare Write Access

dn: cn=RES-FS-LONDON-DEBS-RW,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-LONDON-DEBS-RW
description: LONDON-DEBS FileShare Write Access

dn: cn=RES-FS-Thames-DEBS-RW,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-Thames-DEBS-RW
description: Thames-DEBS FileShare Write Access

dn: cn=RES-FS-Hampshire-DEBS-RW,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-Hampshire-DEBS-RW
description: Hampshire-DEBS FileShare Write Access

dn: cn=RES-FS-Merseyside-DEBS-RW,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-Merseyside-DEBS-RW
description: Merseyside-DEBS FileShare Write Access

dn: cn=RES-FS-Northumbria-DEBS-RW,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-Northumbria-DEBS-RW
description: Northumbria-DEBS FileShare Write Access

dn: cn=RES-FS-West-Yorkshire-DEBS-R,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-West-Yorkshire-DEBS-R
description: West-Yorkshire-DEBS FileShare Read Access

dn: cn=RES-FS-South-Yorkshire-DEBS-R,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-South-Yorkshire-DEBS-R
description: South-Yorkshire-DEBS FileShare Read Access

dn: cn=RES-FS-West-Yorkshire-DEBS-RW,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-West-Yorkshire-DEBS-RW
description: West-Yorkshire-DEBS FileShare Write Access

dn: cn=RES-FS-South-Yorkshire-DEBS-RW,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-South-Yorkshire-DEBS-RW
description: South-Yorkshire-DEBS FileShare Write Access

dn: cn=RES-FS-SouthWestandSouthCentral-NPS-R,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-SouthWestandSouthCentral-NPS-R
description: SouthWestandSouthCentral-NPS FileShare Read Access

dn: cn=RES-FS-SouthWestandSouthCentral-NPS-RW,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-SouthWestandSouthCentral-NPS-RW
description: SouthWestandSouthCentral-NPS FileShare Write Access


###########################################
# NPS - DIV01/NorthWest/GreaterManchester #
###########################################
dn: cn=RES-FS-NorthWest-NPS-R,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-NorthWest-NPS-R
description: ZZ DO NOT USE - NorthWest-NPS FileShare Read Access

dn: cn=RES-FS-NorthWest-NPS-RW,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-NorthWest-NPS-RW
description: ZZ DO NOT USE - NorthWest-NPS FileShare Write Access

dn: cn=RES-FS-N50-GreaterManchester-NPS-R,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-N50-GreaterManchester-NPS-R
description: GreaterManchester-NPS FileShare Read Access

dn: cn=RES-FS-N50-GreaterManchester-NPS-RW,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-N50-GreaterManchester-NPS-RW
description: GreaterManchester-NPS FileShare Write Access

dn: cn=RES-FS-N51-NorthWest-NPS-R,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-N51-NorthWest-NPS-R
description: NorthWest-NPS FileShare Read Access

dn: cn=RES-FS-N51-NorthWest-NPS-RW,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-N51-NorthWest-NPS-RW
description: NorthWest-NPS FileShare Write Access


###########################################
# NPS - DIV04/East Midlands/West Midlands #
###########################################

dn: cn=RES-FS-Midlands-NPS-R,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-Midlands-NPS-R
description: ZZ DO NOT USE - Midlands-NPS FileShare Read Access

dn: cn=RES-FS-Midlands-NPS-RW,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-Midlands-NPS-RW
description: ZZ DO NOT USE - Midlands-NPS FileShare Write Access

dn: cn=RES-FS-N52-WestMidlands-NPS-R,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-N52-WestMidlands-NPS-R
description: WestMidlands-NPS FileShare Read Access

dn: cn=RES-FS-N52-WestMidlands-NPS-RW,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-N52-WestMidlands-NPS-RW
description: WestMidlands-NPS FileShare Write Access

dn: cn=RES-FS-N53-EastMidlands-NPS-R,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-N53-EastMidlands-NPS-R
description: EastMidlands-NPS FileShare Read Access

dn: cn=RES-FS-N53-EastMidlands-NPS-RW,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-N53-EastMidlands-NPS-RW
description: EastMidlands-NPS FileShare Write Access

################################################
# NPS - DIV02/NorthEast/YorkshireandHumberside #
################################################

dn: cn=RES-FS-N54-NorthEast-NPS-R,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-N54-NorthEast-NPS-R
description: NorthEast-NPS FileShare Read Access

dn: cn=RES-FS-N54-NorthEast-NPS-RW,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-N54-NorthEast-NPS-RW
description: NorthEast-NPS FileShare Write Access

dn: cn=RES-FS-N55-YorkshireandHumberside-NPS-R,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-N55-YorkshireandHumberside-NPS-R
description: YorkshireandHumberside-NPS FileShare Read Access

dn: cn=RES-FS-N55-YorkshireandHumberside-NPS-RW,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-N55-YorkshireandHumberside-NPS-RW
description: YorkshireandHumberside-NPS FileShare Write Access

dn: cn=RES-FS-NorthEast-NPS-R,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-NorthEast-NPS-R
description: ZZ DO NOT USE - NorthEast-NPS FileShare Read Access

dn: cn=RES-FS-NorthEast-NPS-RW,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-NorthEast-NPS-RW
description: ZZ DO NOT USE - NorthEast-NPS FileShare Write Access

#################################################
# NPS - DIV06/EastofEngland/KentSurreyandSussex #
#################################################

dn: cn=RES-FS-N56-EastofEngland-NPS-R,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-N56-EastofEngland-NPS-R
description: EastofEngland-NPS FileShare Read Access

dn: cn=RES-FS-N56-EastofEngland-NPS-RW,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-N56-EastofEngland-NPS-RW
description: EastofEngland-NPS FileShare Write Access

dn: cn=RES-FS-N57-KentSurreyandSussex-NPS-R,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-N57-KentSurreyandSussex-NPS-R
description: KentSurreyandSussex-NPS FileShare Read Access

dn: cn=RES-FS-N57-KentSurreyandSussex-NPS-RW,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-N57-KentSurreyandSussex-NPS-RW
description: KentSurreyandSussex-NPS FileShare Write Access

dn: cn=RES-FS-SouthEastandEastern-NPS-R,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-SouthEastandEastern-NPS-R
description: ZZ DO NOT USE - SouthEastandEastern-NPS FileShare Read Access

dn: cn=RES-FS-SouthEastandEastern-NPS-RW,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-SouthEastandEastern-NPS-RW
description: ZZ DO NOT USE - SouthEastandEastern-NPS FileShare Write Access

###########################################
# NPS - Regional groups not in use yet    #
###########################################

dn: cn=RES-FS-N58-SouthWest-NPS-R,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-N58-SouthWest-NPS-R
description: ZZ DO NOT USE - SouthWest-NPS FileShare Read Access

dn: cn=RES-FS-N58-SouthWest-NPS-RW,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-N58-SouthWest-NPS-RW
description: ZZ DO NOT USE - SouthWest-NPS FileShare Write Access

dn: cn=RES-FS-N59-SouthCentral-NPS-R,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-N59-SouthCentral-NPS-R
description: ZZ DO NOT USE - SouthCentral-NPS FileShare Read Access

dn: cn=RES-FS-N59-SouthCentral-NPS-RW,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-N59-SouthCentral-NPS-RW
description: ZZ DO NOT USE - SouthCentral-NPS FileShare Write Access

dn: cn=RES-FS-N03-Wales-NPS-R,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-N03-Wales-NPS-R
description: ZZ DO NOT USE - Wales-NPS FileShare Read Access

dn: cn=RES-FS-N03-Wales-NPS-RW,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-N03-Wales-NPS-RW
description: ZZ DO NOT USE - Wales-NPS FileShare Write Access

dn: cn=RES-FS-N07-London-NPS-R,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-N07-London-NPS-R
description: ZZ DO NOT USE - London-NPS FileShare Read Access

dn: cn=RES-FS-N07-London-NPS-RW,ou=Fileshare,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-FS-N07-London-NPS-RW
description: ZZ DO NOT USE - London-NPS FileShare Write Access
