# Fileshare, Groups, moj.com
dn: ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: organizationalUnit

# RES-FS-CFO-R, Fileshare, Groups, moj.com
dn: cn=RES-FS-CFO-R,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-CFO-R
description: CFO FileShare Read Access

# RES-FS-MIS-R, Fileshare, Groups, moj.com
dn: cn=RES-FS-MIS-R,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-MIS-R
description: MIS FileShare Read Access

# RES-FS-WMT-RW, Fileshare, Groups, moj.com
dn: cn=RES-FS-WMT-RW,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-WMT-RW
description: WMT FileShare Write Access

# RES-FS-CL-DEBS-R, Fileshare, Groups, moj.com
dn: cn=RES-FS-CL-DEBS-R,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-CL-DEBS-R
description: CL-DEBS FileShare Read Access

# RES-FS-EPP-NPS-R, Fileshare, Groups, moj.com
dn: cn=RES-FS-EPP-NPS-R,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-EPP-NPS-R
description: EPP-NPS FileShare Read Access

# RES-FS-NS-DEBS-R, Fileshare, Groups, moj.com
dn: cn=RES-FS-NS-DEBS-R,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-NS-DEBS-R
description: NS-DEBS FileShare Read Access

# RES-FS-CL-DEBS-RW, Fileshare, Groups, moj.com
dn: cn=RES-FS-CL-DEBS-RW,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-CL-DEBS-RW
description: CL-DEBS FileShare Write Access

# RES-FS-DDC-DEBS-R, Fileshare, Groups, moj.com
dn: cn=RES-FS-DDC-DEBS-R,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-DDC-DEBS-R
description: DDC-DEBS FileShare Read Access

# RES-FS-DTV-DEBS-R, Fileshare, Groups, moj.com
dn: cn=RES-FS-DTV-DEBS-R,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-DTV-DEBS-R
description: DTV-DEBS FileShare Read Access

# RES-FS-EPP-NPS-RW, Fileshare, Groups, moj.com
dn: cn=RES-FS-EPP-NPS-RW,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-EPP-NPS-RW
description: EPP-NPS FileShare Write Access

# RES-FS-NS-DEBS-RW, Fileshare, Groups, moj.com
dn: cn=RES-FS-NS-DEBS-RW,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-NS-DEBS-RW
description: NS-DEBS FileShare Write Access

# RES-FS-PPAS-NPS-R, Fileshare, Groups, moj.com
dn: cn=RES-FS-PPAS-NPS-R,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-PPAS-NPS-R
description: PPAS-NPS FileShare Read Access

# RES-FS-SWM-DEBS-R, Fileshare, Groups, moj.com
dn: cn=RES-FS-SWM-DEBS-R,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-SWM-DEBS-R
description: SWM-DEBS FileShare Read Access

# RES-FS-CGM-DEBS-RW, Fileshare, Groups, moj.com
dn: cn=RES-FS-CGM-DEBS-RW,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-CGM-DEBS-RW
description: CGM-DEBS FileShare Write Access

# RES-FS-DDC-DEBS-RW, Fileshare, Groups, moj.com
dn: cn=RES-FS-DDC-DEBS-RW,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-DDC-DEBS-RW
description: DDC-DEBS FileShare Write Access

# RES-FS-DLNR-DEBS-R, Fileshare, Groups, moj.com
dn: cn=RES-FS-DLNR-DEBS-R,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-DLNR-DEBS-R
description: DLNR-DEBS FileShare Read Access

# RES-FS-DTV-DEBS-RW, Fileshare, Groups, moj.com
dn: cn=RES-FS-DTV-DEBS-RW,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-DTV-DEBS-RW
description: DTV-DEBS FileShare Write Access

# RES-FS-HLNY-DEBS-R, Fileshare, Groups, moj.com
dn: cn=RES-FS-HLNY-DEBS-R,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-HLNY-DEBS-R
description: HLNY-DEBS FileShare Read Access

# RES-FS-KSS-DEBS-RW, Fileshare, Groups, moj.com
dn: cn=RES-FS-KSS-DEBS-RW,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-KSS-DEBS-RW
description: KSS-DEBS FileShare Write Access

# RES-FS-MISC-DEBS-R, Fileshare, Groups, moj.com
dn: cn=RES-FS-MISC-DEBS-R,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-MISC-DEBS-R
description: MISC-DEBS FileShare Read Access

# RES-FS-PPAS-NPS-RW, Fileshare, Groups, moj.com
dn: cn=RES-FS-PPAS-NPS-RW,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-PPAS-NPS-RW
description: PPAS-NPS FileShare Write Access

# RES-FS-SWM-DEBS-RW, Fileshare, Groups, moj.com
dn: cn=RES-FS-SWM-DEBS-RW,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-SWM-DEBS-RW
description: SWM-DEBS FileShare Write Access

# RES-FS-Wales-NPS-R, Fileshare, Groups, moj.com
dn: cn=RES-FS-Wales-NPS-R,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-Wales-NPS-R
description: Wales-NPS FileShare Read Access

# RES-FS-WWM-DEBS-RW, Fileshare, Groups, moj.com
dn: cn=RES-FS-WWM-DEBS-RW,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-WWM-DEBS-RW
description: WWM-DEBS FileShare Write Access

# RES-FS-BENCH-DEBS-R, Fileshare, Groups, moj.com
dn: cn=RES-FS-BENCH-DEBS-R,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-BENCH-DEBS-R
description: BENCH-DEBS FileShare Read Access

# RES-FS-BGSW-DEBS-RW, Fileshare, Groups, moj.com
dn: cn=RES-FS-BGSW-DEBS-RW,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-BGSW-DEBS-RW
description: BGSW-DEBS FileShare Write Access

# RES-FS-DLNR-DEBS-RW, Fileshare, Groups, moj.com
dn: cn=RES-FS-DLNR-DEBS-RW,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-DLNR-DEBS-RW
description: DLNR-DEBS FileShare Write Access

# RES-FS-Essex-DEBS-R, Fileshare, Groups, moj.com
dn: cn=RES-FS-Essex-DEBS-R,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-Essex-DEBS-R
description: Essex-DEBS FileShare Read Access

# RES-FS-HLNY-DEBS-RW, Fileshare, Groups, moj.com
dn: cn=RES-FS-HLNY-DEBS-RW,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-HLNY-DEBS-RW
description: HLNY-DEBS FileShare Write Access

# RES-FS-London-NPS-R, Fileshare, Groups, moj.com
dn: cn=RES-FS-London-NPS-R,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-London-NPS-R
description: London-NPS FileShare Read Access

# RES-FS-MISC-DEBS-RW, Fileshare, Groups, moj.com
dn: cn=RES-FS-MISC-DEBS-RW,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-MISC-DEBS-RW
description: MISC-DEBS FileShare Write Access

# RES-FS-Wales-NPS-RW, Fileshare, Groups, moj.com
dn: cn=RES-FS-Wales-NPS-RW,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-Wales-NPS-RW
description: Wales-NPS FileShare Write Access

# RES-FS-BENCH-DEBS-RW, Fileshare, Groups, moj.com
dn: cn=RES-FS-BENCH-DEBS-RW,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-BENCH-DEBS-RW
description: BENCH-DEBS FileShare Write Access

# RES-FS-Essex-DEBS-RW, Fileshare, Groups, moj.com
dn: cn=RES-FS-Essex-DEBS-RW,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-Essex-DEBS-RW
description: Essex-DEBS FileShare Write Access

# RES-FS-LONDON-DEBS-R, Fileshare, Groups, moj.com
dn: cn=RES-FS-LONDON-DEBS-R,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-LONDON-DEBS-R
description: LONDON-DEBS FileShare Read Access

# RES-FS-London-NPS-RW, Fileshare, Groups, moj.com
dn: cn=RES-FS-London-NPS-RW,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-London-NPS-RW
description: London-NPS FileShare Write Access

# RES-FS-Thames-DEBS-R, Fileshare, Groups, moj.com
dn: cn=RES-FS-Thames-DEBS-R,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-Thames-DEBS-R
description: Thames-DEBS FileShare Read Access

# RES-FS-Wales-DEBS-RW, Fileshare, Groups, moj.com
dn: cn=RES-FS-Wales-DEBS-RW,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-Wales-DEBS-RW
description: Wales-DEBS FileShare Write Access

# RES-FS-LONDON-DEBS-RW, Fileshare, Groups, moj.com
dn: cn=RES-FS-LONDON-DEBS-RW,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-LONDON-DEBS-RW
description: LONDON-DEBS FileShare Write Access

# RES-FS-Midlands-NPS-R, Fileshare, Groups, moj.com
dn: cn=RES-FS-Midlands-NPS-R,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-Midlands-NPS-R
description: Midlands-NPS FileShare Read Access

# RES-FS-Thames-DEBS-RW, Fileshare, Groups, moj.com
dn: cn=RES-FS-Thames-DEBS-RW,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-Thames-DEBS-RW
description: Thames-DEBS FileShare Write Access

# RES-FS-Midlands-NPS-RW, Fileshare, Groups, moj.com
dn: cn=RES-FS-Midlands-NPS-RW,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-Midlands-NPS-RW
description: Midlands-NPS FileShare Write Access

# RES-FS-NorthEast-NPS-R, Fileshare, Groups, moj.com
dn: cn=RES-FS-NorthEast-NPS-R,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-NorthEast-NPS-R
description: NorthEast-NPS FileShare Read Access

# RES-FS-NorthWest-NPS-R, Fileshare, Groups, moj.com
dn: cn=RES-FS-NorthWest-NPS-R,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-NorthWest-NPS-R
description: NorthWest-NPS FileShare Read Access

# RES-FS-NorthEast-NPS-RW, Fileshare, Groups, moj.com
dn: cn=RES-FS-NorthEast-NPS-RW,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-NorthEast-NPS-RW
description: NorthEast-NPS FileShare Write Access

# RES-FS-NorthWest-NPS-RW, Fileshare, Groups, moj.com
dn: cn=RES-FS-NorthWest-NPS-RW,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-NorthWest-NPS-RW
description: NorthWest-NPS FileShare Write Access

# RES-FS-Hampshire-DEBS-RW, Fileshare, Groups, moj.com
dn: cn=RES-FS-Hampshire-DEBS-RW,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-Hampshire-DEBS-RW
description: Hampshire-DEBS FileShare Write Access

# RES-FS-Merseyside-DEBS-RW, Fileshare, Groups, moj.com
dn: cn=RES-FS-Merseyside-DEBS-RW,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-Merseyside-DEBS-RW
description: Merseyside-DEBS FileShare Write Access

# RES-FS-Northumbria-DEBS-RW, Fileshare, Groups, moj.com
dn: cn=RES-FS-Northumbria-DEBS-RW,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-Northumbria-DEBS-RW
description: Northumbria-DEBS FileShare Write Access

# RES-FS-West-Yorkshire-DEBS-R, Fileshare, Groups, moj.com
dn: cn=RES-FS-West-Yorkshire-DEBS-R,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-West-Yorkshire-DEBS-R
description: West-Yorkshire-DEBS FileShare Read Access

# RES-FS-South-Yorkshire-DEBS-R, Fileshare, Groups, moj.com
dn: cn=RES-FS-South-Yorkshire-DEBS-R,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-South-Yorkshire-DEBS-R
description: South-Yorkshire-DEBS FileShare Read Access

# RES-FS-West-Yorkshire-DEBS-RW, Fileshare, Groups, moj.com
dn: cn=RES-FS-West-Yorkshire-DEBS-RW,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-West-Yorkshire-DEBS-RW
description: West-Yorkshire-DEBS FileShare Write Access

# RES-FS-South-Yorkshire-DEBS-RW, Fileshare, Groups, moj.com
dn: cn=RES-FS-South-Yorkshire-DEBS-RW,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-South-Yorkshire-DEBS-RW
description: South-Yorkshire-DEBS FileShare Write Access

# RES-FS-SouthEastandEastern-NPS-R, Fileshare, Groups, moj.com
dn: cn=RES-FS-SouthEastandEastern-NPS-R,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-SouthEastandEastern-NPS-R
description: SouthEastandEastern-NPS FileShare Read Access

# RES-FS-SouthEastandEastern-NPS-RW, Fileshare, Groups, moj.com
dn: cn=RES-FS-SouthEastandEastern-NPS-RW,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-SouthEastandEastern-NPS-RW
description: SouthEastandEastern-NPS FileShare Write Access

# RES-FS-SouthWestandSouthCentral-NPS-R, Fileshare, Groups, moj.com
dn: cn=RES-FS-SouthWestandSouthCentral-NPS-R,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-SouthWestandSouthCentral-NPS-R
description: SouthWestandSouthCentral-NPS FileShare Read Access

# RES-FS-SouthWestandSouthCentral-NPS-RW, Fileshare, Groups, moj.com
dn: cn=RES-FS-SouthWestandSouthCentral-NPS-RW,ou=Fileshare,ou=Groups,dc=moj,dc=com
objectClass: groupOfNames
member: placeholder
cn: RES-FS-SouthWestandSouthCentral-NPS-RW
description: SouthWestandSouthCentral-NPS FileShare Write Access