dn: ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
objectClass: organizationalUnit

dn: cn=USR-ALL-NDMIS Access,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-ALL-NDMIS Access
description: USR-ALL-NDMIS Access
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-ALL-NDMIS-REPORTING-RECALC,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-ALL-NDMIS-REPORTING-RECALC
description: USR-ALL-NDMIS-REPORTING-RECALC
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-ALL-USERS-NDMIS Report Users,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-ALL-USERS-NDMIS Report Users
description: USR-ALL-USERS-NDMIS Report Users
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-ASP-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-ASP-NDMIS Reporting ADMIN group
description: USR-ASP-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-ASP-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-ASP-NDMIS Reporting users group
description: USR-ASP-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-BED-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-BED-NDMIS Reporting ADMIN group
description: USR-BED-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-BED-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-BED-NDMIS Reporting users group
description: USR-BED-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CBS-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CBS-NDMIS Reporting ADMIN group
description: USR-CBS-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CBS-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CBS-NDMIS Reporting users group
description: USR-CBS-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CHS-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CHS-NDMIS Reporting ADMIN group
description: USR-CHS-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CHS-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CHS-NDMIS Reporting users group
description: USR-CHS-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CMB-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CMB-NDMIS Reporting ADMIN group
description: USR-CMB-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CMB-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CMB-NDMIS Reporting users group
description: USR-CMB-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-DBS-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-DBS-NDMIS Reporting ADMIN group
description: USR-DBS-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-DBS-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-DBS-NDMIS Reporting users group
description: USR-DBS-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-DCP-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-DCP-NDMIS Reporting ADMIN group
description: USR-DCP-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-DCP-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-DCP-NDMIS Reporting users group
description: USR-DCP-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-DPP-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-DPP-NDMIS Reporting ADMIN group
description: USR-DPP-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-DPP-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-DPP-NDMIS Reporting users group
description: USR-DPP-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-DRH-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-DRH-NDMIS Reporting ADMIN group
description: USR-DRH-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-DRH-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-DRH-NDMIS Reporting users group
description: USR-DRH-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-DRS-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-DRS-NDMIS Reporting ADMIN group
description: USR-DRS-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-DRS-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-DRS-NDMIS Reporting users group
description: USR-DRS-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-ESX-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-ESX-NDMIS Reporting ADMIN group
description: USR-ESX-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-ESX-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-ESX-NDMIS Reporting users group
description: USR-ESX-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-GCS-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-GCS-NDMIS Reporting ADMIN group
description: USR-GCS-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-GCS-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-GCS-NDMIS Reporting users group
description: USR-GCS-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-GWT-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: USR-GWT-NDMIS Reporting ADMIN group
description: USR-GWT-NDMIS Reporting ADMIN group

dn: cn=USR-GWT-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: USR-GWT-NDMIS Reporting users group
description: USR-GWT-NDMIS Reporting users group

dn: cn=USR-HBS-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-HBS-NDMIS Reporting ADMIN group
description: USR-HBS-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-HBS-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-HBS-NDMIS Reporting users group
description: USR-HBS-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-HFS-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-HFS-NDMIS Reporting users group
description: USR-HFS-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-HPS-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-HPS-NDMIS Reporting ADMIN group
description: USR-HPS-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-HPS-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-HPS-NDMIS Reporting users group
description: USR-HPS-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-KNT-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-KNT-NDMIS Reporting ADMIN group
description: USR-KNT-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-KNT-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-KNT-NDMIS Reporting users group
description: USR-KNT-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-LCS-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-LCS-NDMIS Reporting ADMIN group
description: USR-LCS-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-LCS-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-LCS-NDMIS Reporting users group
description: USR-LCS-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-LDN-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-LDN-NDMIS Reporting ADMIN group
description: USR-LDN-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-LDN-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-LDN-NDMIS Reporting users group
description: USR-LDN-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-LNS-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-LNS-NDMIS Reporting ADMIN group
description: USR-LNS-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-LNS-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-LNS-NDMIS Reporting users group
description: USR-LNS-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-LTS-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-LTS-NDMIS Reporting ADMIN group
description: USR-LTS-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-LTS-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-LTS-NDMIS Reporting users group
description: USR-LTS-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-MCG-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-MCG-NDMIS Reporting ADMIN group
description: USR-MCG-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-MCG-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-MCG-NDMIS Reporting users group
description: USR-MCG-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-MLW-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-MLW-NDMIS Reporting ADMIN group
description: USR-MLW-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-MLW-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-MLW-NDMIS Reporting users group
description: USR-MLW-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-MOJ-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-MOJ-NDMIS Reporting ADMIN group
description: USR-MOJ-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-MOJ-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-MOJ-NDMIS Reporting users group
description: USR-MOJ-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-MRS-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-MRS-NDMIS Reporting ADMIN group
description: USR-MRS-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-MRS-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-MRS-NDMIS Reporting users group
description: USR-MRS-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-NBR-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-NBR-NDMIS Reporting ADMIN group
description: USR-NBR-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-NFK-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-NFK-NDMIS Reporting ADMIN group
description: USR-NFK-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-NFK-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-NFK-NDMIS Reporting users group
description: USR-NFK-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-NHS-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-NHS-NDMIS Reporting ADMIN group
description: USR-NHS-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-NHS-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-NHS-NDMIS Reporting users group
description: USR-NHS-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-NTS-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: USR-NTS-NDMIS Reporting ADMIN group
description: USR-NTS-NDMIS Reporting ADMIN group

dn: cn=USR-NTS-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: USR-NTS-NDMIS Reporting users group
description: USR-NTS-NDMIS Reporting users group

dn: cn=USR-PAG-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-PAG-NDMIS Reporting ADMIN group
description: USR-PAG-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-PAG-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-PAG-NDMIS Reporting users group
description: USR-PAG-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-SRY-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-SRY-NDMIS Reporting ADMIN group
description: USR-SRY-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-SRY-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-SRY-NDMIS Reporting users group
description: USR-SRY-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-SSX-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-SSX-NDMIS Reporting ADMIN group
description: USR-SSX-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-SSX-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-SSX-NDMIS Reporting users group
description: USR-SSX-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-STF-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-STF-NDMIS Reporting ADMIN group
description: USR-STF-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-STF-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-STF-NDMIS Reporting users group
description: USR-STF-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-SWS-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-SWS-NDMIS Reporting ADMIN group
description: USR-SWS-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-SWS-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: USR-SWS-NDMIS Reporting users group
description: USR-SWS-NDMIS Reporting users group

dn: cn=USR-TES-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-TES-NDMIS Reporting ADMIN group
description: USR-TES-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-TES-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-TES-NDMIS Reporting users group
description: USR-TES-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-TVY-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-TVY-NDMIS Reporting ADMIN group
description: USR-TVY-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-TVY-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: USR-TVY-NDMIS Reporting users group
description: USR-TVY-NDMIS Reporting users group

dn: cn=USR-WLS-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-WLS-NDMIS Reporting ADMIN group
description: USR-WLS-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-WLS-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-WLS-NDMIS Reporting users group
description: USR-WLS-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-WMP-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-WMP-NDMIS Reporting ADMIN group
description: USR-WMP-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-WMP-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-WMP-NDMIS Reporting users group
description: USR-WMP-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-WSN-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: USR-WSN-NDMIS Reporting ADMIN group
description: USR-WSN-NDMIS Reporting ADMIN group

dn: cn=USR-WSN-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: USR-WSN-NDMIS Reporting users group
description: USR-WSN-NDMIS Reporting users group

dn: cn=USR-WTS-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: USR-WTS-NDMIS Reporting ADMIN group
description: USR-WTS-NDMIS Reporting ADMIN group

dn: cn=USR-WTS-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-WTS-NDMIS Reporting users group
description: USR-WTS-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-WWS-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-WWS-NDMIS Reporting ADMIN group
description: USR-WWS-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-WWS-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-WWS-NDMIS Reporting users group
description: USR-WWS-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-YSN-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-YSN-NDMIS Reporting ADMIN group
description: USR-YSN-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-YSN-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-YSN-NDMIS Reporting users group
description: USR-YSN-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-YSS-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-YSS-NDMIS Reporting ADMIN group
description: USR-YSS-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-YSS-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-YSS-NDMIS Reporting users group
description: USR-YSS-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-YSW-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: USR-YSW-NDMIS Reporting ADMIN group
description: USR-YSW-NDMIS Reporting ADMIN group

dn: cn=USR-YSW-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-YSW-NDMIS Reporting users group
description: USR-YSW-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-ALL-WRITERS-NDMIS Report Writers,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-ALL-WRITERS-NDMIS Report Writers
description: USR-ALL-WRITERS-NDMIS Report Writers
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA01-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA01-NDMIS Reporting ADMIN group
description: USR-CPA01-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA01-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA01-NDMIS Reporting users group
description: USR-CPA01-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA02-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA02-NDMIS Reporting ADMIN group
description: USR-CPA02-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA02-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA02-NDMIS Reporting users group
description: USR-CPA02-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA03-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA03-NDMIS Reporting ADMIN group
description: USR-CPA03-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA03-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA03-NDMIS Reporting users group
description: USR-CPA03-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA04-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA04-NDMIS Reporting ADMIN group
description: USR-CPA04-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA04-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA04-NDMIS Reporting users group
description: USR-CPA04-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA05-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA05-NDMIS Reporting ADMIN group
description: USR-CPA05-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA05-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA05-NDMIS Reporting users group
description: USR-CPA05-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA06-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA06-NDMIS Reporting ADMIN group
description: USR-CPA06-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA06-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA06-NDMIS Reporting users group
description: USR-CPA06-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA07-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA07-NDMIS Reporting ADMIN group
description: USR-CPA07-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA07-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA07-NDMIS Reporting users group
description: USR-CPA07-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA08-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA08-NDMIS Reporting ADMIN group
description: USR-CPA08-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA08-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA08-NDMIS Reporting users group
description: USR-CPA08-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA09-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA09-NDMIS Reporting ADMIN group
description: USR-CPA09-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA09-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA09-NDMIS Reporting users group
description: USR-CPA09-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA10-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA10-NDMIS Reporting ADMIN group
description: USR-CPA10-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA10-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA10-NDMIS Reporting users group
description: USR-CPA10-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA11-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA11-NDMIS Reporting ADMIN group
description: USR-CPA11-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA11-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA11-NDMIS Reporting users group
description: USR-CPA11-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA12-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA12-NDMIS Reporting ADMIN group
description: USR-CPA12-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA12-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: USR-CPA12-NDMIS Reporting users group
description: USR-CPA12-NDMIS Reporting users group

dn: cn=USR-CPA13-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA13-NDMIS Reporting ADMIN group
description: USR-CPA13-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA13-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA13-NDMIS Reporting users group
description: USR-CPA13-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA14-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA14-NDMIS Reporting ADMIN group
description: USR-CPA14-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA14-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA14-NDMIS Reporting users group
description: USR-CPA14-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA15-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA15-NDMIS Reporting ADMIN group
description: USR-CPA15-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA15-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA15-NDMIS Reporting users group
description: USR-CPA15-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA16-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA16-NDMIS Reporting ADMIN group
description: USR-CPA16-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA16-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA16-NDMIS Reporting users group
description: USR-CPA16-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA17-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA17-NDMIS Reporting ADMIN group
description: USR-CPA17-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA17-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA17-NDMIS Reporting users group
description: USR-CPA17-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA18-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA18-NDMIS Reporting ADMIN group
description: USR-CPA18-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA18-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA18-NDMIS Reporting users group
description: USR-CPA18-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA19-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: USR-CPA19-NDMIS Reporting ADMIN group
description: USR-CPA19-NDMIS Reporting ADMIN group

dn: cn=USR-CPA19-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: USR-CPA19-NDMIS Reporting users group
description: USR-CPA19-NDMIS Reporting users group

dn: cn=USR-CPA20-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA20-NDMIS Reporting ADMIN group
description: USR-CPA20-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA20-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA20-NDMIS Reporting users group
description: USR-CPA20-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA21-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA21-NDMIS Reporting ADMIN group
description: USR-CPA21-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA21-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA21-NDMIS Reporting users group
description: USR-CPA21-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-DIV03-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-DIV03-NDMIS Reporting ADMIN group
description: USR-DIV03-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-DIV03-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-DIV03-NDMIS Reporting users group
description: USR-DIV03-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-DIV06-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-DIV06-NDMIS Reporting ADMIN group
description: USR-DIV06-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-DIV06-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-DIV06-NDMIS Reporting users group
description: USR-DIV06-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-DIV07-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-DIV07-NDMIS Reporting ADMIN group
description: USR-DIV07-NDMIS Reporting ADMIN group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-DIV07-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-DIV07-NDMIS Reporting users group
description: USR-DIV07-NDMIS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=RES-APP-DRH-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-APP-DRH-NDMIS Reporting ADMIN group
description: RES-APP-DRH-NDMIS Reporting ADMIN group

dn: cn=RES-APP-ESX-NDMIS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-APP-ESX-NDMIS Reporting users group
description: RES-APP-ESX-NDMIS Reporting users group

dn: cn=RES-APP-HBS-NDMIS Reporting ADMIN group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-APP-HBS-NDMIS Reporting ADMIN group
description: RES-APP-HBS-NDMIS Reporting ADMIN group

dn: cn=USR-MOJ-NDMIS-MANAGERS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-MOJ-NDMIS-MANAGERS Reporting users group
description: USR-MOJ-NDMIS-MANAGERS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-PAG-NDMIS-MANAGERS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-PAG-NDMIS-MANAGERS Reporting users group
description: USR-PAG-NDMIS-MANAGERS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA01-NDMIS-MANAGERS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA01-NDMIS-MANAGERS Reporting users group
description: USR-CPA01-NDMIS-MANAGERS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA02-NDMIS-MANAGERS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA02-NDMIS-MANAGERS Reporting users group
description: USR-CPA02-NDMIS-MANAGERS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA03-NDMIS-MANAGERS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA03-NDMIS-MANAGERS Reporting users group
description: USR-CPA03-NDMIS-MANAGERS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA04-NDMIS-MANAGERS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: USR-CPA04-NDMIS-MANAGERS Reporting users group
description: USR-CPA04-NDMIS-MANAGERS Reporting users group

dn: cn=USR-CPA05-NDMIS-MANAGERS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA05-NDMIS-MANAGERS Reporting users group
description: USR-CPA05-NDMIS-MANAGERS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA06-NDMIS-MANAGERS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: USR-CPA06-NDMIS-MANAGERS Reporting users group
description: USR-CPA06-NDMIS-MANAGERS Reporting users group

dn: cn=USR-CPA07-NDMIS-MANAGERS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA07-NDMIS-MANAGERS Reporting users group
description: USR-CPA07-NDMIS-MANAGERS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA08-NDMIS-MANAGERS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA08-NDMIS-MANAGERS Reporting users group
description: USR-CPA08-NDMIS-MANAGERS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA09-NDMIS-MANAGERS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA09-NDMIS-MANAGERS Reporting users group
description: USR-CPA09-NDMIS-MANAGERS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA10-NDMIS-MANAGERS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA10-NDMIS-MANAGERS Reporting users group
description: USR-CPA10-NDMIS-MANAGERS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA11-NDMIS-MANAGERS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: USR-CPA11-NDMIS-MANAGERS Reporting users group
description: USR-CPA11-NDMIS-MANAGERS Reporting users group

dn: cn=USR-CPA12-NDMIS-MANAGERS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA12-NDMIS-MANAGERS Reporting users group
description: USR-CPA12-NDMIS-MANAGERS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA13-NDMIS-MANAGERS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA13-NDMIS-MANAGERS Reporting users group
description: USR-CPA13-NDMIS-MANAGERS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA14-NDMIS-MANAGERS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA14-NDMIS-MANAGERS Reporting users group
description: USR-CPA14-NDMIS-MANAGERS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA15-NDMIS-MANAGERS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA15-NDMIS-MANAGERS Reporting users group
description: USR-CPA15-NDMIS-MANAGERS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA16-NDMIS-MANAGERS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA16-NDMIS-MANAGERS Reporting users group
description: USR-CPA16-NDMIS-MANAGERS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA17-NDMIS-MANAGERS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: USR-CPA17-NDMIS-MANAGERS Reporting users group
description: USR-CPA17-NDMIS-MANAGERS Reporting users group

dn: cn=USR-CPA18-NDMIS-MANAGERS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA18-NDMIS-MANAGERS Reporting users group
description: USR-CPA18-NDMIS-MANAGERS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA19-NDMIS-MANAGERS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: USR-CPA19-NDMIS-MANAGERS Reporting users group
description: USR-CPA19-NDMIS-MANAGERS Reporting users group

dn: cn=USR-CPA20-NDMIS-MANAGERS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA20-NDMIS-MANAGERS Reporting users group
description: USR-CPA20-NDMIS-MANAGERS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-CPA21-NDMIS-MANAGERS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-CPA21-NDMIS-MANAGERS Reporting users group
description: USR-CPA21-NDMIS-MANAGERS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-DIV03-NDMIS-MANAGERS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-DIV03-NDMIS-MANAGERS Reporting users group
description: USR-DIV03-NDMIS-MANAGERS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-DIV07-NDMIS-MANAGERS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-DIV07-NDMIS-MANAGERS Reporting users group
description: USR-DIV07-NDMIS-MANAGERS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-ALL-AUDIT-Access to the NDMIS Audit reporting,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-ALL-AUDIT-Access to the NDMIS Audit reporting
description: USR-ALL-AUDIT-Access to the NDMIS Audit reporting
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-ALL-FORM2030-Access to the Forms 20-30 folder,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: USR-ALL-FORM2030-Access to the Forms 20-30 folder
description: USR-ALL-FORM2030-Access to the Forms 20-30 folder

dn: cn=USR-ALL-CPA-Access to the NDMIS CPA Reports folder,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-ALL-CPA-Access to the NDMIS CPA Reports folder
description: USR-ALL-CPA-Access to the NDMIS CPA Reports folder
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-ALL-MOJ-Access to the NDMIS NPS Reports folder,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-ALL-MOJ-Access to the NDMIS NPS Reports folder
description: USR-ALL-MOJ-Access to the NDMIS NPS Reports folder
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-ALL-NPS-Access to the NDMIS DIV Reports folder,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-ALL-NPS-Access to the NDMIS DIV Reports folder
description: USR-ALL-NPS-Access to the NDMIS DIV Reports folder
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-ALL-PAG-Access to the NDMIS PAG Reports folder,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-ALL-PAG-Access to the NDMIS PAG Reports folder
description: USR-ALL-PAG-Access to the NDMIS PAG Reports folder
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-ALL-NATIONAL-Access to the NDMIS National Reports folder,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-ALL-NATIONAL-Access to the NDMIS National Reports folder
description: USR-ALL-NATIONAL-Access to the NDMIS National Reports folder
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-ALL-TRUST-Access to the NDMIS Trust Based Reports folder,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: USR-ALL-TRUST-Access to the NDMIS Trust Based Reports folder
description: USR-ALL-TRUST-Access to the NDMIS Trust Based Reports folder

dn: cn=RES-APP-CPA08-ADM-NDMIS CPA08 Folder Content auth Report Admins,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-APP-CPA08-ADM-NDMIS CPA08 Folder Content auth Report Admins
description: RES-APP-CPA08-ADM-NDMIS CPA08 Folder Content auth Report Admins

dn: cn=RES-APP-CPA15-ADM-NDMIS CPA15 Folder Content auth Report Admins,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
objectClass: groupOfNames
member: cn=placeholder
cn: RES-APP-CPA15-ADM-NDMIS CPA15 Folder Content auth Report Admins
description: RES-APP-CPA15-ADM-NDMIS CPA15 Folder Content auth Report Admins


###########################################
# NPS - DIV01/NorthWest/GreaterManchester #
###########################################
dn: cn=USR-ALL-REG-Access to the NDMIS REGIONAL Reports Folder,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-ALL-REG-Access to the NDMIS REGIONAL Reports Folder
description: USR-ALL-REG-Access to the NDMIS REGIONAL Reports Folder
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-REG-N50-NDMIS-WRITER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-REG-N50-NDMIS-WRITER Reporting group
description: USR-REG-N50-NDMIS-WRITER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-REG-N50-NDMIS-MANAGER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-REG-N50-NDMIS-MANAGER Reporting group
description: USR-REG-N50-NDMIS-MANAGER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-REG-N50-NDMIS-READER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-REG-N50-NDMIS-READER Reporting group
description: USR-REG-N50-NDMIS-READER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-REG-N51-NDMIS-WRITER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-REG-N51-NDMIS-WRITER Reporting group
description: USR-REG-N51-NDMIS-WRITER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-REG-N51-NDMIS-MANAGER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-REG-N51-NDMIS-MANAGER Reporting group
description: USR-REG-N51-NDMIS-MANAGER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-REG-N51-NDMIS-READER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-REG-N51-NDMIS-READER Reporting group
description: USR-REG-N51-NDMIS-READER Reporting group
objectClass: groupOfNames
member: cn=placeholder

###########################################
# NPS - DIV04/East Midlands/West Midlands #
###########################################
dn: cn=USR-DIV04-NDMIS-MANAGERS Reporting users group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-DIV04-NDMIS-MANAGERS Reporting users group
description: USR-DIV04-NDMIS-MANAGERS Reporting users group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-REG-N52-NDMIS-WRITER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-REG-N52-NDMIS-WRITER Reporting group
description: USR-REG-N52-NDMIS-WRITER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-REG-N52-NDMIS-MANAGER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-REG-N52-NDMIS-MANAGER Reporting group
description: USR-REG-N52-NDMIS-MANAGER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-REG-N52-NDMIS-READER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-REG-N52-NDMIS-READER Reporting group
description: USR-REG-N52-NDMIS-READER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-REG-N53-NDMIS-WRITER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-REG-N53-NDMIS-WRITER Reporting group
description: USR-REG-N53-NDMIS-WRITER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-REG-N53-NDMIS-MANAGER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-REG-N53-NDMIS-MANAGER Reporting group
description: USR-REG-N53-NDMIS-MANAGER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-REG-N53-NDMIS-READER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-REG-N53-NDMIS-READER Reporting group
description: USR-REG-N53-NDMIS-READER Reporting group
objectClass: groupOfNames
member: cn=placeholder

################################################
# NPS - DIV02/NorthEast/YorkshireandHumberside #
################################################
dn: cn=USR-REG-N54-NDMIS-WRITER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-REG-N54-NDMIS-WRITER Reporting group
description: USR-REG-N54-NDMIS-WRITER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-REG-N54-NDMIS-MANAGER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-REG-N54-NDMIS-MANAGER Reporting group
description: USR-REG-N54-NDMIS-MANAGER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-REG-N54-NDMIS-READER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-REG-N54-NDMIS-READER Reporting group
description: USR-REG-N54-NDMIS-READER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-REG-N55-NDMIS-WRITER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-REG-N55-NDMIS-WRITER Reporting group
description: USR-REG-N55-NDMIS-WRITER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-REG-N55-NDMIS-MANAGER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-REG-N55-NDMIS-MANAGER Reporting group
description: USR-REG-N55-NDMIS-MANAGER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-REG-N55-NDMIS-READER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-REG-N55-NDMIS-READER Reporting group
description: USR-REG-N55-NDMIS-READER Reporting group
objectClass: groupOfNames
member: cn=placeholder

#################################################
# NPS - DIV06/EastofEngland/KentSurreyandSussex #
#################################################
dn: cn=USR-REG-N56-NDMIS-WRITER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-REG-N56-NDMIS-WRITER Reporting group
description: USR-REG-N56-NDMIS-WRITER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-REG-N56-NDMIS-MANAGER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-REG-N56-NDMIS-MANAGER Reporting group
description: USR-REG-N56-NDMIS-MANAGER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-REG-N56-NDMIS-READER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-REG-N56-NDMIS-READER Reporting group
description: USR-REG-N56-NDMIS-READER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-REG-N57-NDMIS-WRITER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-REG-N57-NDMIS-WRITER Reporting group
description: USR-REG-N57-NDMIS-WRITER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-REG-N57-NDMIS-MANAGER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-REG-N57-NDMIS-MANAGER Reporting group
description: USR-REG-N57-NDMIS-MANAGER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-REG-N57-NDMIS-READER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-REG-N57-NDMIS-READER Reporting group
description: USR-REG-N57-NDMIS-READER Reporting group
objectClass: groupOfNames
member: cn=placeholder

######################################
# NPS - DIV05/SouthWest/SouthCentral #
######################################
dn: cn=USR-REG-N58-NDMIS-WRITER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-REG-N58-NDMIS-WRITER Reporting group
description: USR-REG-N58-NDMIS-WRITER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-REG-N58-NDMIS-MANAGER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-REG-N58-NDMIS-MANAGER Reporting group
description: USR-REG-N58-NDMIS-MANAGER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-REG-N58-NDMIS-READER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-REG-N58-NDMIS-READER Reporting group
description: USR-REG-N58-NDMIS-READER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-REG-N59-NDMIS-WRITER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-REG-N59-NDMIS-WRITER Reporting group
description: USR-REG-N59-NDMIS-WRITER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-REG-N59-NDMIS-MANAGER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-REG-N59-NDMIS-MANAGER Reporting group
description: USR-REG-N59-NDMIS-MANAGER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-REG-N59-NDMIS-READER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-REG-N59-NDMIS-READER Reporting group
description: USR-REG-N59-NDMIS-READER Reporting group
objectClass: groupOfNames
member: cn=placeholder

###########################################
# Central groups                          #
###########################################

dn: cn=USR-ALL-CEN-Access to the NDMIS Central Reports folder,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-ALL-CEN-Access to the NDMIS Central Reports folder
description: USR-ALL-CEN-Access to the NDMIS Central Reports folder
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-IDC-NDMIS-MANAGER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-IDC-NDMIS-MANAGER Reporting group
description: USR-IDC-NDMIS-MANAGER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-IDC-NDMIS-READER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-IDC-NDMIS-READER Reporting group
description: USR-IDC-NDMIS-READER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-IDC-NDMIS-WRITER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-IDC-NDMIS-WRITER Reporting group
description: USR-IDC-NDMIS-WRITER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-NSD-NDMIS-MANAGER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-NSD-NDMIS-MANAGER Reporting group
description: USR-NSD-NDMIS-MANAGER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-NSD-NDMIS-READER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-NSD-NDMIS-READER Reporting group
description: USR-NSD-NDMIS-READER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-NSD-NDMIS-WRITER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-NSD-NDMIS-WRITER Reporting group
description: USR-NSD-NDMIS-WRITER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-EMT-NDMIS-MANAGER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-EMT-NDMIS-MANAGER Reporting group
description: USR-EMT-NDMIS-MANAGER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-EMT-NDMIS-READER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-EMT-NDMIS-READER Reporting group
description: USR-EMT-NDMIS-READER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-EMT-NDMIS-WRITER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-EMT-NDMIS-WRITER Reporting group
description: USR-EMT-NDMIS-WRITER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-EPS-NDMIS-MANAGER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-EPS-NDMIS-MANAGER Reporting group
description: USR-EPS-NDMIS-MANAGER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-EPS-NDMIS-READER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-EPS-NDMIS-READER Reporting group
description: USR-EPS-NDMIS-READER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-EPS-NDMIS-WRITER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-EPS-NDMIS-WRITER Reporting group
description: USR-EPS-NDMIS-WRITER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-ALL-DFI-Access to the NDMIS DFI Reports folder,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-ALL-DFI-Access to the NDMIS DFI Reports folder
description: USR-ALL-DFI-Access to the NDMIS DFI Reports folder
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-DFI-NDMIS-WRITER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-DFI-NDMIS-WRITER Reporting group
description: USR-DFI-NDMIS-WRITER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-DFI-NDMIS-MANAGER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-DFI-NDMIS-MANAGER Reporting group
description: USR-DFI-NDMIS-MANAGER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-DFI-NDMIS-READER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-DFI-NDMIS-READER Reporting group
description: USR-DFI-NDMIS-READER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-BADD-NDMIS-MANAGER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-BADD-NDMIS-MANAGER Reporting group
description: USR-BADD-NDMIS-MANAGER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-BADD-NDMIS-READER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-BADD-NDMIS-READER Reporting group
description: USR-BADD-NDMIS-READER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-BADD-NDMIS-WRITER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-BADD-NDMIS-WRITER Reporting group
description: USR-BADD-NDMIS-WRITER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-REG-N03-NDMIS-MANAGER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-REG-N03-NDMIS-MANAGER Reporting group
description: USR-REG-N03-NDMIS-MANAGER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-REG-N03-NDMIS-READER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-REG-N03-NDMIS-READER Reporting group
description: USR-REG-N03-NDMIS-READER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-REG-N03-NDMIS-WRITER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-REG-N03-NDMIS-WRITER Reporting group
description: USR-REG-N03-NDMIS-WRITER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-REG-N07-NDMIS-MANAGER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-REG-N07-NDMIS-MANAGER Reporting group
description: USR-REG-N07-NDMIS-MANAGER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-REG-N07-NDMIS-READER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-REG-N07-NDMIS-READER Reporting group
description: USR-REG-N07-NDMIS-READER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-REG-N07-NDMIS-WRITER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-REG-N07-NDMIS-WRITER Reporting group
description: USR-REG-N07-NDMIS-WRITER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-JEXU-NDMIS-MANAGER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-JEXU-NDMIS-MANAGER Reporting group
description: USR-JEXU-NDMIS-MANAGER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-JEXU-NDMIS-READER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-JEXU-NDMIS-READER Reporting group
description: USR-JEXU-NDMIS-READER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-JEXU-NDMIS-WRITER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-JEXU-NDMIS-WRITER Reporting group
description: USR-JEXU-NDMIS-WRITER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-WPS-NDMIS-MANAGER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-WPS-NDMIS-MANAGER Reporting group
description: USR-WPS-NDMIS-MANAGER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-WPS-NDMIS-READER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-WPS-NDMIS-READER Reporting group
description: USR-WPS-NDMIS-READER Reporting group
objectClass: groupOfNames
member: cn=placeholder

dn: cn=USR-WPS-NDMIS-WRITER Reporting group,ou=NDMIS-Reporting,{{ ldap_config.base_groups }}
cn: USR-WPS-NDMIS-WRITER Reporting group
description: USR-WPS-NDMIS-WRITER Reporting group
objectClass: groupOfNames
member: cn=placeholder
