dn: {{ base_service_users }}
objectclass: javaContainer
objectclass: top

# OASys API client
{% set oasys_username=lookup('aws_ssm', '/'+environment_name+'/'+project_name+'/apacheds/apacheds/oasys_user', region=region) %}
{% set oasys_password=lookup('aws_ssm', '/'+environment_name+'/'+project_name+'/apacheds/apacheds/oasys_user_password', region=region) %}
dn: cn={{ oasys_username }},{{ base_service_users }}
sn: {{ oasys_username }}
cn: {{ oasys_username }}
userPassword: {{ oasys_password }}
businesscategory: OIBI096
businesscategory: OIBI097
businesscategory: OABI007
businesscategory: RRBI211
objectclass: inetOrgPerson
objectclass: organizationalPerson
objectclass: person
objectclass: top

# IAPS API client
{% set iaps_username=lookup('aws_ssm', '/'+environment_name+'/'+project_name+'/apacheds/apacheds/iaps_user', region=region) %}
{% set iaps_password=lookup('aws_ssm', '/'+environment_name+'/'+project_name+'/apacheds/apacheds/iaps_user_password', region=region) %}
dn: cn={{ iaps_username }},{{ base_service_users }}
sn: {{ iaps_username }}
cn: {{ iaps_username }}
userPassword: {{ iaps_password }}
objectclass: inetOrgPerson
objectclass: organizationalPerson
objectclass: person
objectclass: top
businesscategory: SEBI018
businesscategory: SEBI019
businesscategory: SEBI020
businesscategory: OIBI998
businesscategory: OIBI999
businesscategory: OIBI100
businesscategory: OIBI101
businesscategory: EXBI200
businesscategory: EXBI201
businesscategory: DMBI060
businesscategory: DMBI061
businesscategory: OIBI098
businesscategory: OIBI099
businesscategory: CLBI003
businesscategory: CLBI007
businesscategory: CLBI044
businesscategory: SEBI021

# DSS/OFFLOC import client
{% set dss_username=lookup('aws_ssm', '/'+environment_name+'/'+project_name+'/apacheds/apacheds/dss_user', region=region) %}
{% set dss_password=lookup('aws_ssm', '/'+environment_name+'/'+project_name+'/apacheds/apacheds/dss_user_password', region=region) %}
dn: cn={{ dss_username }},{{ base_service_users }}
sn: {{ dss_username }}
cn: {{ dss_username }}
userPassword: {{ dss_password }}
objectclass: inetOrgPerson
objectclass: organizationalPerson
objectclass: person
objectclass: top
businesscategory: DSBI004

# NOMIS Case Notes API client
{% set casenotes_username=lookup('aws_ssm', '/'+environment_name+'/'+project_name+'/apacheds/apacheds/casenotes_user', region=region) %}
{% set casenotes_password=lookup('aws_ssm', '/'+environment_name+'/'+project_name+'/apacheds/apacheds/casenotes_password', region=region) %}
dn: cn={{ casenotes_username }},{{ base_service_users }}
sn: {{ casenotes_username }}
cn: {{ casenotes_username }}
userPassword: {{ casenotes_password }}
objectclass: inetOrgPerson
objectclass: organizationalPerson
objectclass: person
objectclass: top

# Approved Premises Tracker API client
{% set aptracker_username=lookup('aws_ssm', '/'+environment_name+'/'+project_name+'/apacheds/apacheds/aptracker_user', region=region) %}
{% set aptracker_password=lookup('aws_ssm', '/'+environment_name+'/'+project_name+'/apacheds/apacheds/aptracker_password', region=region) %}
dn: cn={{ aptracker_username }},{{ base_service_users }}
sn: {{ aptracker_username }}
cn: {{ aptracker_username }}
userPassword: {{ aptracker_password }}
objectclass: inetOrgPerson
objectclass: organizationalPerson
objectclass: person
objectclass: top
businesscategory: read,write
# TODO add AP tracker client roles and remove businesscategory

# Password Manager test user, for verifying LDAP connectivity and functionality
dn: cn=pwm-test,{{ base_users }}
cn: pwm-test
sn: pwm-test
userPassword: {{ lookup('aws_ssm', '/'+environment_name+'/'+project_name+'/pwm/pwm/config_password', region=region) }}
objectclass: pwmUser
objectclass: inetOrgPerson
objectclass: organizationalPerson
objectclass: person
objectclass: top

# Password Manager admin user
dn: cn=pwm-admin,{{ base_users }}
cn: pwm-admin
sn: pwm-admin
pwmAdmin: TRUE
userPassword: {{ lookup('aws_ssm', '/'+environment_name+'/'+project_name+'/pwm/pwm/config_password', region=region) }}
objectclass: pwmUser
objectclass: inetOrgPerson
objectclass: organizationalPerson
objectclass: person
objectclass: top

# CRC clients to support SPG messaging
{% for user in ['ALF','SPG','C01','C02','C03','C04','C05','C06','C07','C08','C09','C10','C11','C12','C13','C14','C15','C16','C17','C18','C19','C20','C21'] %}
dn: cn={{ user }},{{ base_users }}
cn: {{ user }}
givenname: {{ user }}
sn: {{ user }}
mail: {{ user }}
uid: {{ user }}
userhomearea: {{ user }}
description: CRC {{ user }} system user
usersector: private
objectclass: NDUser
objectclass: inetOrgPerson
objectclass: organizationalPerson
objectclass: person
objectclass: top

dn: cn=SPGBT000,cn={{ user }},{{ base_users }}
aliasedobjectname: cn=SPGBT000,{{ base_roles }}
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top
cn: SPGBT000

dn: cn=SPGBT001,cn={{ user }},{{ base_users }}
aliasedobjectname: cn=SPGBT001,{{ base_roles }}
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top
cn: SPGBT001

dn: cn=SPGBT003,cn={{ user }},{{ base_users }}
aliasedobjectname: cn=SPGBT003,{{ base_roles }}
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top
cn: SPGBT003

dn: cn=SPGBT010,cn={{ user }},{{ base_users }}
aliasedobjectname: cn=SPGBT010,{{ base_roles }}
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top
cn: SPGBT010

dn: cn=SPGBT900,cn={{ user }},{{ base_users }}
aliasedobjectname: cn=SPGBT900,{{ base_roles }}
objectclass: NDRoleAssociation
objectclass: alias
objectclass: top
cn: SPGBT900

{% endfor %}