# Test user for automated smoke tests etc
{% set username = 'AutomatedTestUser' %}
{% set password = lookup('aws_ssm', ssm_prefix+'test_user_password', region=region) %}
{% include 'all-access-user.ldif.j2' %}
