dn: ou=Policies,{{ ldap_config.base_root }}
ou: Policies
objectclass: organizationalUnit

# Enables manual user lockout, to support the user start/end date script
# This can be extended to enforce additional password policies as required
dn: cn=default,ou=Policies,{{ ldap_config.base_root }}
objectClass: device
objectClass: pwdPolicyChecker
objectClass: pwdPolicy
cn: default
pwdAttribute: userPassword
pwdLockout: TRUE